[Unit]
Description=My Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nox
WorkingDirectory=/home/nox
ExecStart=/home/nox/pictoor/RaspberryPi_JetsonNano/python/examples/boot.py

[Install]
WantedBy=multi-user.target
