[Unit]
Description=My Script Service

After=network-online.target

[Service]
Type=simple
User=nox
WorkingDirectory=/home/nox
ExecStart=python3 /home/nox/pictoor/RaspberryPi_JetsonNano/python/examples/boot.py

[Install]
WantedBy=multi-user.target
